<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>pro_manageuser_nguyenvanminh</display-name>
  <filter>
    <display-name>CheckDatabaseConnect</display-name>
    <filter-name>CheckDatabaseConnect</filter-name>
    <filter-class>net.luvina.manageuser.utils.CheckDatabaseConnectFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckDatabaseConnect</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>net.luvina.manageuser.utils.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>CheckLoginFilter</display-name>
    <filter-name>CheckLoginFilter</filter-name>
    <filter-class>net.luvina.manageuser.utils.CheckLoginFilter</filter-class>
    <init-param>
      <param-name>ignoreUrl</param-name>
      <param-value>/Login.do</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>net.luvina.manageuser.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUser</display-name>
    <servlet-name>ListUser</servlet-name>
    <servlet-class>net.luvina.manageuser.controller.ListUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUser</servlet-name>
    <url-pattern>/ListUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>net.luvina.manageuser.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserInput</display-name>
    <servlet-name>AddUserInput</servlet-name>
    <servlet-class>net.luvina.manageuser.controller.AddUserInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserInput</servlet-name>
    <url-pattern>/AddUserInput.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportCSV</display-name>
    <servlet-name>ExportCSV</servlet-name>
    <servlet-class>net.luvina.manageuser.controller.ExportCSVController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportCSV</servlet-name>
    <url-pattern>/ExportCSV.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserConfirm</display-name>
    <servlet-name>AddUserConfirm</servlet-name>
    <servlet-class>net.luvina.manageuser.controller.AddUserConfirmController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserConfirm</servlet-name>
    <url-pattern>/AddUserConfirm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Success</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>net.luvina.manageuser.controller.SuccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/Success.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetail</display-name>
    <servlet-name>ViewDetail</servlet-name>
    <servlet-class>net.luvina.manageuser.controller.ViewDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetail</servlet-name>
    <url-pattern>/ViewDetail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemError</display-name>
    <servlet-name>SystemError</servlet-name>
    <servlet-class>net.luvina.manageuser.controller.SystemErrorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemError</servlet-name>
    <url-pattern>/SystemError.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>net.luvina.manageuser.controller.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ViewReport</display-name>
    <servlet-name>ViewReport</servlet-name>
    <servlet-class>net.luvina.manageuser.controller.ViewReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReport</servlet-name>
    <url-pattern>/ViewReport.do</url-pattern>
  </servlet-mapping>
</web-app>